# Personal
.env
GOOGLE_CREDENTIALS.json

# Created by the env anyway
my_env/

# Too big
fraudTest.csv

# Garbage :)
research.ipynb

# Ignore all files starting with 'airflow' in the main folder
/*airflow*

# Ignore everything in the airflow directory
/airflow/*

# Don't ignore the dags folder
!/airflow/dags/

# Don't ignore files in the dags folder
!/airflow/dags/*

# Nobody knows what is it
**/__pycache__/