# Personal
.env
GOOGLE_CREDENTIALS.json

# Created by the env anyway
my_env/

# Too big
fraudTest.csv

# Garbage :)
research.ipynb

# Ignore everything inside airflow/
airflow/*

# But don't ignore the airflow/dags directory itself
!airflow/dags/

# Now, don't ignore Python files inside airflow/dags/
!airflow/dags/*.py

# Nobody knows what is it
**/__pycache__/